30 8 * * * python3 /root/python/crontab/index.py beforeRemind 1  > /dev/null 2>&1
10 10 * * * python3 /root/python/crontab/index.py beforeRemind 2  > /dev/null 2>&1
0 12 * * * python3 /root/python/crontab/index.py beforeRemind 3  > /dev/null 2>&1
30 13 * * * python3 /root/python/crontab/index.py beforeRemind 4  > /dev/null 2>&1
0 15 * * * python3 /root/python/crontab/index.py beforeRemind 5  > /dev/null 2>&1
30 16 * * * python3 /root/python/crontab/index.py beforeRemind 6  > /dev/null 2>&1
30 18 * * * python3 /root/python/crontab/index.py beforeRemind 7  > /dev/null 2>&1
0 20 * * * python3 /root/python/crontab/index.py beforeRemind 8  > /dev/null 2>&1
30 0 * * * python3 /root/python/crontab/index.py dayRemind  > /dev/null 2>&1
30 20 * * * python3 /root/python/crontab/index.py setSchedule  > /dev/null 2>&1
